# API base URL for REST requests
VITE_API_BASE_URL=https://xsmartpresencebackend.onrender.com/api/v1

# WebSocket URL
VITE_WS_URL=wss://xsmartpresencebackend.onrender.com/api/v1/ws/dashboard

# Environment (development | production)
VITE_ENV=production